body {
    background: #2086BF;
}

.jumbotron {
    background-color: #3C454F;
    border: 1px solid #3C454F;
}

    .jumbotron h1, h4 {
        color: floralwhite;
    }

#form-area {
    background-color: floralwhite;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

.table {
    background-color: floralwhite;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
