body {
}

.jumbotron {
    background-color: #3C454F;
    border: 1px solid #3C454F;
}

.jumbotron-text {
    color: floralwhite;
}

div{
    background-color: white;
}

form{
    background-color: #2086BF;
}
